{% extends 'base.html' %}
{% block title %}Расписание уроков{% endblock %}
{% block content %}
<h2>Расписание уроков</h2>
{% for day, lessons in schedule.items %}
    <h3>{{ lessons.0.get_day_of_week_display }}</h3>
    <table>
        <tr>
            <th>Время</th>
            <th>Курсант</th>
            <th>Инструктор</th>
            <th>Предмет</th>
            <th>Тип урока</th>
        </tr>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.time_slot }}</td>
            <td>{{ lesson.student.name }}</td>
            <td>{{ lesson.teacher.name }}</td>
            <td>{{ lesson.subject.name }}</td>
            <td>{{ lesson.get_lesson_type_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Нет уроков</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock %}