{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {% block meta %}{% endblock %}
    <title>{% block title %}Автошкола{% endblock %}</title>
</head>
<body>
<div class="container">
    <nav>
        {% if user.is_authenticated %}
            {% if user.userprofile.role == 'student' %}
                <a href="{% url 'autorization:student_dashboard' %}">Личный кабинет</a>
                <a href="{% url 'autorization:logout' %}">Выйти</a>
            {% elif user.userprofile.role == 'teacher' %}
                <a href="{% url 'autorization:teacher_dashboard' %}">Личный кабинет</a>
                <a href="{% url 'autorization:logout' %}">Выйти</a>
            {% elif user.userprofile.role == 'admin' %}
                <a href="{% url 'scheduling:schedule' %}">На главную</a>
                <a href="{% url 'scheduling:calculate_schedule' %}">Рассчитать расписание</a>
                <a href="{% url 'scheduling:mark_attendance' %}">Отметить посещения</a>
                <a href="{% url 'scheduling:students' %}">Курсанты</a>
                <a href="{% url 'scheduling:teachers' %}">Инструкторы</a>
                <a href="{% url 'scheduling:subjects' %}">Виды трансмиссий</a>
                <a href="{% url 'scheduling:time_slots' %}">Время для занятий</a>
                <a href="{% url 'autorization:admin_dashboard' %}">Панель администратора</a>
                <a href="https://assan.github.io/timetable-pro/">Помощь</a>
                <a href="{% url 'autorization:logout' %}">Выйти</a>
            {% endif %}
        {% else %}
            <a href="{% url 'autorization:login' %}">Войти</a>
        {% endif %}
    </nav>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}{% endblock %}
</div>
</body>
</html>