{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <nav>
        <a href="{% url 'schedule' %}">На главную</a>
        <a href="{% url 'calculate_schedule' %}">Рассчитать расписание</a>
        <a href="{% url 'students' %}">Курсанты</a>
        <a href="{% url 'teachers' %}">Инструкторы</a>
        <a href="{% url 'subjects' %}">Виды трансмиссий</a>
        <a href="{% url 'time_slots' %}">Время для занятий</a>
    </nav>
    {% block content %}{% endblock %}
</div>
</body>
</html>