<!-- scheduling/templates/scheduling/enter_subjects.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Трансмиссии</title>
</head>
<body>
    <p><a href="/">На главную</a></p>
    <p><a href="/time_slots">Часы вождения</a></p>
<h2>Введите типы трансмиссий</h2>
<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
<hr>
<table>
    <tr>
        <th>Тип трансмиссии</th>
        <th></th>
        <th></th>

    </tr>
{% for subject in subjects %}
    <tr>
    <td>{{subject.name}}  </td>
        <td><a href="edit/{{student.id}}">Изменить</a> </td>
        <td><a href="delete/{{student.id}}">Удалить</a></td>
    </tr>
{%endfor%}
</table>

</body>
</html>