<!-- scheduling/templates/scheduling/enter_students.html -->
{% extends 'base.html' %}
{%block title%} Курсанты {% endblock %}
{%block meta%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<p><a href="/">На главную</a></p>
<p><a href="/time_slots">Часы вождения</a></p>
<h2>Введите имена курсантов на вождение</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>
<hr>
<table>
    <tr>
        <th>Имя курсанта</th>
        <th>Имя инструктора</th>
        <th>Тип трансмиссии</th>
        <th>Занятий в неделю</th>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
         <th>Пятница</th>
         <th>Суббота</th>
         <th>Воскресенье</th>
        <th></th>
          <th></th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.teacher }}</td>
        <td>{{ student.subject }}</td>
        <td>{{student.times_per_week}}</td>
        <td>{{ student.monday_free_time }}</td>
         <td>{{ student.tuesday_free_time }}</td>
         <td>{{ student.wednesday_free_time }}</td>
         <td>{{ student.thursday_free_time }}</td>
         <td>{{ student.friday_free_time }}</td>
         <td>{{ student.saturday_free_time }}</td>
        <td>{{ student.sunday_free_time }}</td>
        <td><a href="edit/{{ student.id }}">Изменить</a></td>
        <td><a href="delete/{{ student.id }}">Удалить</a></td>
    </tr>
    {% endfor %}
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $('#id_subject').change(function () {
            var url = "{% url 'get_teachers' %}";
            var subjectId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'subject_id': subjectId
                },
                success: function (data) {
                    var select = $('#id_teacher');
                    select.empty();

                    $.each(data, function (index, item) {
                        select.append($('<option></option>').attr('value', item.id).text(item.name));
                    });
                }
            });
        });
    });
</script>

{% endblock %}
