{% extends 'base.html' %}
{% block title %}Личный кабинет курсанта{% endblock %}
{% block content %}
<h2>Личный кабинет курсанта: {{ student.name }}</h2>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h3>Навигация</h3>
<ul>
    <li><a href="{% url 'autorization:student_profile' %}">Редактировать свободное время</a></li>
    <li><a href="{% url 'autorization:student_schedule' %}">Просмотреть расписание и уроки</a></li>
    <li><a href="{% url 'autorization:logout' %}">Выйти</a></li>
</ul>
{% endblock %}